<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CE2NCWidget.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CloudEmoticon2iOS WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CloudEmoticon2iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EmoticonKeyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5328C7A819B70D0D00C425A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53918E9A1AB7065C00CE7A68</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53DF28EC196B9CF40058AA42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53DF28FE196B9CF40058AA42</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53ED2A3B19B6AA6B00DB4B55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8BF8ACF1199335D7001207FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
