<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>iOSv2</string>
	<string>本地内置源</string>
	<string>当前没有源，正在使用本地内置源。</string>
	<array>
		<array>
			<string>▽哈哈haha~</string>
			<array>
				<string>(((o(*ﾟ▽ﾟ*)o)))</string>
			</array>
			<array>
				<string>Ｏ(≧▽≦)Ｏ</string>
			</array>
			<array>
				<string>( ´ ▽ ` )ﾉ</string>
			</array>
			<array>
				<string>｡◕‿◕｡</string>
			</array>
			<array>
				<string>⊂((・▽・))⊃</string>
			</array>
			<array>
				<string>(・∀・)</string>
			</array>
			<array>
				<string>(｡･ω･｡)</string>
			</array>
			<array>
				<string>(・◇・)</string>
			</array>
			<array>
				<string>(((o(*ﾟ▽ﾟ*)o)))</string>
			</array>
			<array>
				<string>(≧∇≦)/</string>
			</array>
			<array>
				<string>(≡^∇^≡)</string>
			</array>
			<array>
				<string>(ノ＞▽＜。)ノ</string>
			</array>
			<array>
				<string>┌(˘⌣˘)ʃ</string>
			</array>
			<array>
				<string>ヽ(*≧ω≦)ﾉ</string>
			</array>
			<array>
				<string>ヽ(*・ω・)ﾉ</string>
			</array>
			<array>
				<string>d=(´▽｀)=b</string>
			</array>
			<array>
				<string>(๑&gt;◡&lt;๑)</string>
			</array>
			<array>
				<string>٩(^ᴗ^)۶</string>
			</array>
			<array>
				<string>o(^▽^)o</string>
			</array>
			<array>
				<string>(゜▽゜;)</string>
			</array>
			<array>
				<string>(°∀°)b</string>
			</array>
			<array>
				<string>(=^･^=)</string>
			</array>
			<array>
				<string>(~￣▽￣)~</string>
			</array>
			<array>
				<string>(─‿─)</string>
			</array>
			<array>
				<string>(ノ*゜▽゜*)</string>
			</array>
			<array>
				<string>(ノ＞▽＜。)ノ</string>
			</array>
			<array>
				<string>＼（＾▽＾）／</string>
			</array>
			<array>
				<string>＼(^ω^＼)</string>
			</array>
			<array>
				<string>☆*:.｡. o(≧▽≦)o .｡.:*☆</string>
			</array>
			<array>
				<string>☆*･゜ﾟ･*\(^O^)/*･゜ﾟ･*☆</string>
			</array>
			<array>
				<string>(o゜▽゜)o☆</string>
			</array>
			<array>
				<string>o(*≧▽≦)ツ</string>
			</array>
			<array>
				<string>ヾ(≧∇≦*)ゝ</string>
			</array>
			<array>
				<string>╰(*°▽°*)╯</string>
			</array>
			<array>
				<string>ヽ(✿ﾟ▽ﾟ)ノ</string>
			</array>
			<array>
				<string>(≧∀≦)ゞ</string>
			</array>
			<array>
				<string>o(*≧▽≦)ツ┏━┓</string>
			</array>
			<array>
				<string>(～￣▽￣)～</string>
			</array>
			<array>
				<string>(/≧▽≦)/</string>
			</array>
			<array>
				<string>(o゜▽゜)o☆</string>
			</array>
		</array>
		<array>
			<string>`ヘ´哼~！Humph!</string>
			<array>
				<string>(((￣へ￣井)</string>
			</array>
			<array>
				<string>( ；｀ヘ´)</string>
			</array>
			<array>
				<string>(`へ´*)ノ</string>
			</array>
			<array>
				<string>(￣^￣)</string>
			</array>
			<array>
				<string>（｀＾´）ノ</string>
			</array>
			<array>
				<string>（￣～￣）</string>
			</array>
			<array>
				<string>o(´^｀)o</string>
			</array>
			<array>
				<string>(* ￣︿￣)</string>
			</array>
			<array>
				<string>凸(艹皿艹 )</string>
			</array>
			<array>
				<string>(￣ε(#￣)☆╰╮o(￣皿￣///)</string>
			</array>
			<array>
				<string>┻━┻︵╰(‵□′)╯︵┻━┻</string>
			</array>
			<array>
				<string>o(￣ヘ￣o＃)</string>
			</array>
			<array>
				<string>( ￣^￣)</string>
			</array>
			<array>
				<string>(〃＞目＜)</string>
			</array>
			<array>
				<string>▄︻┻┳═一</string>
			</array>
			<array>
				<string>(///￣皿￣)○～</string>
			</array>
			<array>
				<string>(σ｀д′)σ</string>
			</array>
			<array>
				<string>o(￣ヘ￣o＃)</string>
			</array>
			<array>
				<string>o(一︿一+)o</string>
			</array>
		</array>
		<array>
			<string>呜呜..Hum..</string>
			<array>
				<string>(ノへ￣、)</string>
			</array>
			<array>
				<string>((´д｀))</string>
			</array>
			<array>
				<string>.·´¯`(&gt;▂&lt;)´¯`·.</string>
			</array>
			<array>
				<string>・(/Д`)・</string>
			</array>
			<array>
				<string>・゜・(ノД`)</string>
			</array>
			<array>
				<string>｡･ﾟﾟ･(&gt;д&lt;)･ﾟﾟ･｡</string>
			</array>
			<array>
				<string>.・゜゜・（／。＼）・゜゜・．</string>
			</array>
			<array>
				<string>｡：ﾟ(｡ﾉω＼｡)ﾟ･｡</string>
			</array>
			<array>
				<string>。：゜(；´∩｀；)゜：。</string>
			</array>
			<array>
				<string>｡ﾟ( ﾟஇ‸இﾟ)ﾟ｡</string>
			</array>
			<array>
				<string>。ﾟ(ﾟﾉД｀ﾟ)ﾟ｡</string>
			</array>
			<array>
				<string>(✖╭╮✖)</string>
			</array>
			<array>
				<string>｡゜(｀Д´)゜｡</string>
			</array>
			<array>
				<string>（ ＴДＴ）</string>
			</array>
			<array>
				<string>( p′︵‵。)</string>
			</array>
			<array>
				<string>(Ｔ▽Ｔ)</string>
			</array>
			<array>
				<string>(╥_╥)</string>
			</array>
			<array>
				<string>(ノД`)・゜・。</string>
			</array>
			<array>
				<string>o(╥﹏╥)o</string>
			</array>
			<array>
				<string>ヽ(●ﾟ´Д｀ﾟ●)ﾉﾟ</string>
			</array>
			<array>
				<string>(;´༎ຶД༎ຶ`)</string>
			</array>
			<array>
				<string>╥﹏╥</string>
			</array>
		</array>
		<array>
			<string>Д！！！？</string>
			<array>
				<string>w(ﾟДﾟ)w</string>
			</array>
			<array>
				<string>(・・。)ゞ</string>
			</array>
			<array>
				<string>(」゜ロ゜)」</string>
			</array>
			<array>
				<string>( ・◇・)？</string>
			</array>
			<array>
				<string>(●__●)</string>
			</array>
			<array>
				<string>⁀⊙﹏☉⁀</string>
			</array>
			<array>
				<string>щ(ºДºщ)</string>
			</array>
			<array>
				<string>ఠ_ఠ</string>
			</array>
			<array>
				<string>(⊙ˍ⊙)</string>
			</array>
			<array>
				<string>Σ(っ °Д °;)っ</string>
			</array>
			<array>
				<string>Σ( ° △ °|||)︴</string>
			</array>
			<array>
				<string>⊙▽⊙</string>
			</array>
			<array>
				<string>_( ﾟДﾟ)ﾉ</string>
			</array>
		</array>
		<array>
			<string>//// Oh...</string>
			<array>
				<string>（*/∇＼*）</string>
			</array>
			<array>
				<string>(｡･･｡)</string>
			</array>
			<array>
				<string>(/□＼*)・゜</string>
			</array>
			<array>
				<string>(o・・o)/</string>
			</array>
			<array>
				<string>(つω⊂* )</string>
			</array>
			<array>
				<string>\(//∇//)\</string>
			</array>
			<array>
				<string>(*´∀`*)</string>
			</array>
			<array>
				<string>(*´_ゝ｀)</string>
			</array>
			<array>
				<string>(*/ω＼*)</string>
			</array>
			<array>
				<string>つ﹏⊂</string>
			</array>
			<array>
				<string>(/▽＼)</string>
			</array>
			<array>
				<string>(。﹏。)</string>
			</array>
		</array>
		<array>
			<string>❀萌moe</string>
			<array>
				<string>(▰˘◡˘▰)</string>
			</array>
			<array>
				<string>(◍•ᴗ•◍)❤</string>
			</array>
			<array>
				<string>(ღ˘⌣˘ღ)</string>
			</array>
			<array>
				<string>(ॢ˘⌣˘ ॢ⑅)</string>
			</array>
			<array>
				<string>(❁´‿`❁)</string>
			</array>
			<array>
				<string>(❁´▽`❁)</string>
			</array>
			<array>
				<string>(❀◦‿◦)</string>
			</array>
			<array>
				<string>(✿´‿`)</string>
			</array>
			<array>
				<string>(ღ˘⌣˘ღ)</string>
			</array>
		</array>
		<array>
			<string>♡愛Love</string>
			<array>
				<string>(´∀｀)♡</string>
			</array>
			<array>
				<string>(｡･ω･｡)ﾉ♡</string>
			</array>
			<array>
				<string>( ＾◡＾)っ✂❤</string>
			</array>
			<array>
				<string>（*＾3＾）/～♡</string>
			</array>
			<array>
				<string>(￣ε￣ = ￣3￣)</string>
			</array>
			<array>
				<string>o(￣ε￣*)</string>
			</array>
			<array>
				<string>(～o￣3￣)～</string>
			</array>
			<array>
				<string>(◍•ᴗ•◍)❤</string>
			</array>
			<array>
				<string>(✿ ♥‿♥)</string>
			</array>
			<array>
				<string>(๑・ω-)～♥”</string>
			</array>
			<array>
				<string>♡＾▽＾♡</string>
			</array>
			<array>
				<string>(｡･ω･｡)ﾉ♡</string>
			</array>
			<array>
				<string>(｡♥‿♥｡)</string>
			</array>
			<array>
				<string>(Ɔ ˘⌣˘)♥(˘⌣˘ C)</string>
			</array>
			<array>
				<string>♡(˃͈ દ ˂͈ ༶ )</string>
			</array>
			<array>
				<string>♡´･ᴗ･`♡</string>
			</array>
		</array>
		<array>
			<string>☯ Other</string>
			<array>
				<string>(＞◡❛)☯∈██▓▓██▓▓██▓▓██▓▓██▓▓██</string>
			</array>
			<array>
				<string>( ´-ω ･)▄︻┻┳══━一</string>
			</array>
			<array>
				<string>▁▂▃▅▆▇▇▆▅▃▂▁</string>
			</array>
			<array>
				<string>░▒▓█▇▅▂∩(ΦωΦ)∩▂▅▇█▓▒░</string>
			</array>
			<array>
				<string>▄█▀█●</string>
			</array>
		</array>
	</array>
</array>
</plist>
