<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>从在线皮肤库添加</key>
	<string>从在线皮肤库添加</string>
	<key>下载皮肤</key>
	<string>下载皮肤</string>
	<key>皮肤管理</key>
	<string>皮肤管理</string>
	<key>颜文字输入法</key>
	<string>颜文字输入法提供一种输入方式使得用户不必进入主程序进行颜文字的获取。
若颜文字输入法未出现在键盘中，请进入“设置”应用并按照底部图片次序进行操作。
        
    </string>
	<key>删掉喵</key>
	<string>删掉喵</string>
	<key>通知中心扩展</key>
	<string>通知中心扩展使用户不必进入主程序就能保存要保留的颜文字。
要使用通知中心扩展，在下拉通知的“今天”页面下，点击最下方的“编辑”，将“云颜文字”扩展添加至“包括”项目中。

</string>
	<key>输入法</key>
	<string>颜文字输入法</string>
	<key>还原背景</key>
	<string>还原背景</string>
	<key>当前背景</key>
	<string>当前背景：</string>
	<key>修改背景图片</key>
	<string>修改背景图片</string>
	<key>添加到剪切板</key>
	<string>添加到剪切板</string>
	<key>发现了颜文字</key>
	<string>发现了颜文字！</string>
	<key>行为</key>
	<string>行为</string>
	<key>广告</key>
	<string>广告</string>
	<key>图片库</key>
	<string>图片库</string>
	<key>相册</key>
	<string>相册</string>
	<key>选择背景图片加载位置</key>
	<string>选择背景图片加载位置</string>
	<key>拍照</key>
	<string>拍照</string>
	<key>中止</key>
	<string>中止</string>
	<key>源可能有问题</key>
	<string>因为源有问题或不兼容，无法添加这个源。</string>
	<key>源解析失败</key>
	<string>源解析失败</string>
	<key>复制后退出</key>
	<string>复制后退出</string>
	<key>广告显示频率</key>
	<string>广告显示概率</string>
	<key>本地默认源</key>
	<string>本地默认源</string>
	<key>不具备删除这个源的权限</key>
	<string>这个源是系统源或您不具备删除这个源的权限。</string>
	<key>无法删除这个源</key>
	<string>无法删除这个源</string>
	<key>返回</key>
	<string>返回</string>
	<key>从源商店添加</key>
	<string>从源商店添加</string>
	<key>添加源</key>
	<string>添加源</string>
	<key>关于</key>
	<string>关于</string>
	<key>个性化</key>
	<string>个性化</string>
	<key>分享</key>
	<string>分享</string>
	<key>扩展功能</key>
	<string>通知中心扩展</string>
	<key>摇一摇</key>
	<string>摇一摇</string>
	<key>已复制到剪贴板</key>
	<string>已复制到剪贴板</string>
	<key>正在加载源</key>
	<string>正在加载源...</string>
	<key>你已经收藏了</key>
	<string>你已经收藏了</string>
	<key>添加到收藏夹成功</key>
	<string>成功添加到收藏夹</string>
	<key>正在刷新</key>
	<string>ㄟ(￣▽￣ㄟ)正在刷新...</string>
	<key>下拉刷新</key>
	<string>(´・ω・｀) 下拉刷新</string>
	<key>松开手指刷新</key>
	<string>ლ(╹◡╹ლ)松开手指刷新</string>
	<key>未登录</key>
	<string>未登录</string>
	<key>分类</key>
	<string>分类</string>
	<key>源管理</key>
	<string>源管理</string>
	<key>设置</key>
	<string>设置</string>
	<key>附加工具</key>
	<string>附加工具</string>
	<key>云颜文字</key>
	<string>云颜文字</string>
	<key>自定表情</key>
	<string>自定表情</string>
	<key>历史记录</key>
	<string>历史记录</string>
	<key>收藏</key>
	<string>收藏夹</string>
	<key>清空</key>
	<string>清空</string>
	<key>自定义</key>
	<string>自定义</string>
	<key>取消</key>
	<string>取消</string>
	<key>添加颜文字</key>
	<string>添加颜文字</string>
	<key>添加</key>
	<string>添加</string>
	<key>完成</key>
	<string>完成</string>
	<key>编辑</key>
	<string>编辑</string>
	<key>语言包名称</key>
	<string>简体中文 Simplified Chinese</string>
	<key>语言包作者</key>
	<string>神楽坂雅诗</string>
</dict>
</plist>
