<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>背景不透明度</key>
	<string>不透明度</string>
	<key>背景</key>
	<string>壁紙</string>
	<key>确定</key>
	<string>好</string>
	<key>刷新完成</key>
	<string>重新載入完成</string>
	<key>你已经添加过这个源了</key>
	<string>你已經載入過這個源了</string>
	<key>请检查网络后重试</key>
	<string>請檢查網路後重試</string>
	<key>下载失败</key>
	<string>載入失敗</string>
	<key>加载中</key>
	<string>載入中</string>
	<key>详细信息读取失败</key>
	<string>詳細訊息讀入失敗，請檢查網路後重試。</string>
	<key>软件全称</key>
	<string>雲顔文字2 for iOS</string>
	<key>从在线皮肤库添加</key>
	<string>從線上主題庫添加</string>
	<key>下载皮肤</key>
	<string>加載主題</string>
	<key>皮肤管理</key>
	<string>主題管理</string>
	<key>颜文字输入法</key>
	<string>顏文字鍵盤提供一種鍵入方式使得使用者不必啟動主程式獲得自行指定的顏文字。
若顏文字鍵盤並未出現在鍵盤中，請進入“設定” -&gt;“一般” -&gt;“鍵盤”-&gt; “鍵盤” 並添加 “雲顏文字2”
        
    </string>
	<key>删掉喵</key>
	<string>移除喵</string>
	<key>通知中心扩展</key>
	<string>通知中心擴展使得使用者無需啟動主程式就可獲得自行設定之顏文字。
要使用通知中心擴展，在下拉通知欄的“今日”頁面下，點擊最下方的“編輯”按鈕，講“云顏文字”擴展添加至“包括”中。

</string>
	<key>输入法</key>
	<string>顏文字键盘</string>
	<key>还原背景</key>
	<string>初始化壁紙</string>
	<key>当前背景</key>
	<string>當前壁紙：</string>
	<key>修改背景图片</key>
	<string>變更壁紙</string>
	<key>添加到剪切板</key>
	<string>拷貝到剪切板</string>
	<key>发现了颜文字</key>
	<string>獲得了顏文字！</string>
	<key>行为</key>
	<string>行為</string>
	<key>广告</key>
	<string>廣告</string>
	<key>图片库</key>
	<string>圖庫</string>
	<key>相册</key>
	<string>相簿</string>
	<key>选择背景图片加载位置</key>
	<string>選擇背景圖存放點</string>
	<key>拍照</key>
	<string>照相機</string>
	<key>中止</key>
	<string>中止</string>
	<key>源可能有问题</key>
	<string>因為一些問題或兼容性錯誤，無法載入目标源。</string>
	<key>源解析失败</key>
	<string>源解析錯誤</string>
	<key>复制后退出</key>
	<string>拷貝后退出</string>
	<key>广告显示频率</key>
	<string>廣告顯示概率</string>
	<key>本地默认源</key>
	<string>本地缺省源</string>
	<key>不具备删除这个源的权限</key>
	<string>這個源由系统所有或您沒有獲得移除此源的授權</string>
	<key>无法删除这个源</key>
	<string>無法移除這個源</string>
	<key>返回</key>
	<string>返回</string>
	<key>从源商店添加</key>
	<string>從源商店添加</string>
	<key>添加源</key>
	<string>添加源</string>
	<key>关于</key>
	<string>關於</string>
	<key>个性化</key>
	<string>自订主題</string>
	<key>分享</key>
	<string>分享</string>
	<key>扩展功能</key>
	<string>通知中心擴展</string>
	<key>摇一摇</key>
	<string>搖一搖</string>
	<key>已复制到剪贴板</key>
	<string>已拷貝到剪切板</string>
	<key>正在加载源</key>
	<string>正在載入源...</string>
	<key>你已经收藏了</key>
	<string>你已經收藏了</string>
	<key>添加到收藏夹成功</key>
	<string>已成功加入收藏夾</string>
	<key>正在刷新</key>
	<string>ㄟ(￣▽￣ㄟ)正在刷新...</string>
	<key>下拉刷新</key>
	<string>(´・ω・｀) 下拉列表以刷新</string>
	<key>松开手指刷新</key>
	<string>ლ(╹◡╹ლ)放開手指以刷新</string>
	<key>未登录</key>
	<string>未登入</string>
	<key>分类</key>
	<string>類別</string>
	<key>源管理</key>
	<string>源管理</string>
	<key>设置</key>
	<string>設定</string>
	<key>附加工具</key>
	<string>附加組件</string>
	<key>云颜文字</key>
	<string>云顏文字</string>
	<key>自定表情</key>
	<string>我的顏文字</string>
	<key>历史记录</key>
	<string>歷史記錄</string>
	<key>收藏</key>
	<string>收藏</string>
	<key>清空</key>
	<string>清空</string>
	<key>自定义</key>
	<string>自訂</string>
	<key>取消</key>
	<string>取消</string>
	<key>添加颜文字</key>
	<string>載入颜文字</string>
	<key>添加</key>
	<string>添加</string>
	<key>完成</key>
	<string>完成</string>
	<key>编辑</key>
	<string>變更</string>
	<key>语言包名称</key>
	<string>繁体中文 Traditional Chinese</string>
	<key>语言包作者</key>
	<string>神楽坂紫,神楽坂雅詩</string>
	<key>还原</key>
	<string>恢復</string>
	<key>抹掉所有内容和设置</key>
	<string>抹掉所有內容和設定</string>
	<key>将要清除</key>
	<string>將會抹掉程式以及擴展程式設定，并抹掉所有自訂表情、歷史記錄、收藏、颜文字源等內容。您的賬戶將被登出。</string>
	<key>抹掉这些内容</key>
	<string>抹掉這些內容</string>
	<key>退出云颜文字2</key>
	<string>退出云顏文字2</string>
	<key>抹掉成功</key>
	<string>抹掉成功，需要重啟以生效所做的更改</string>
	<key>还没有收藏的颜文字喵</key>
	<string>（尚未收藏顏文字呢喵）</string>
	<key>还没有历史记录呢喵</key>
	<string>（尚無歷史記錄呢喵）</string>
	<key>还没有添加自定义颜文字呢喵</key>
	<string>（尚未添加自訂表情呢喵）</string>
	<key>当前源</key>
	<string>目前的源</string>
	<key>本地内置源</key>
	<string>本地內嵌源</string>
</dict>
</plist>
